.fw-medium {
    font-family: 'RalewayMedium';
}

.fw-bold {
    font-family: 'RalewayBold';
}

.fw-extra-bold {
    font-family: 'RalewayExtraBold';
}

.fs-7 {
    font-size: .9em;
}

.notif {
    top: -30% !important;
    left: -20% !important;
    background-color: #DE6B6B !important;
}